@use '../../utils' as *;

.tp-cta-overlay{
    &:before{
        background: linear-gradient(0deg, rgba(0, 23, 67, 0.80) 0%, rgba(0, 23, 67, 0.80) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
        position: absolute;
        height: 100%;
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        opacity: .8;
    }
}